<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Manuel Nieva</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Curriculum Vitae</h1>
    <p>Welcome to my Curriculum</p>
  </body>
</html>
