<!DOCTYPE html>
<html>

<head>
  <title>Curriculum Manuel Nieva</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="top-header">
      <h1>Curriculum Vitae</h1>
      <ul class="enlaces">
        <li><a href="#">Login Administrador</a></li>
        <li><a href="#">Información Personal</a></li>
        <li><a href="#">Datos Académicos</a></li>
        <li><a href="#">Experiencia Laboral</a></li>
      </ul>
    </div>
  </header>
</body>

</html>