body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff0000;
}

a:-webkit-any-link {
  color: none;
  cursor: pointer;
  text-decoration: none;
}

h1.title {
  display: flex;
  justify-content: center;
  color: #ff0000;
}

.top-header {
  display: flex;
  flex-direction: column;
}

ul.enlaces {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
